body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-box {
  margin: 20px;
  padding-bottom: 20px;
  border: 2px black solid;
  border-radius: 4px;
  text-align: center;
}

.grid-box img {
  height: 200px;
}
