body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(131, 58, 180, 0.8);
  background: linear-gradient(138deg, rgba(131, 58, 180, 0.8) 17%, rgba(253, 29, 137, 0.8) 65%, rgba(252, 176, 69, 0.8) 89%);
  background-attachment: fixed;
}
header {
  text-align: center;
}

#grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-box {
  margin: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(42, 42, 42);
  color: whitesmoke;
  -webkit-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
}

.grid-box img {
  height: 200px;
}

button {
  background-color: rgb(252, 176, 69);
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

select {
  background-color: rgb(42, 42, 42);
  color: whitesmoke;
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
}

#input-search {
  background-color: rgb(42, 42, 42);
  color: whitesmoke;
  border-radius: 8px;
  border: none;
  padding: 5px 10px;
}

#top-btns {
  margin-left: 20px;
}

#navbar {
  text-align: center;
}
#navbar a {
  text-decoration: none;
  font-weight: 500;
  padding: 0 30px;
  color: black;
  font-size: large;
}
#navbar a:hover {
  font-weight: 400;
  color: rgb(255, 255, 255);
}
